</li>
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Saved Articles</a>
  </li>
  <button type="button" class="btn btn-danger" id="scrape">Scrape Articles</button>
</nav>

<div class="container">
<div class="jumbotron jumbotron-fluid" id = "onion">
  <div class="container">
    <h1 class="text-center"><span  class="far fa-grin-beam"> My Onion: Saved Articles</h1>
    
  </div>
</div>
<div class="row">
    <div class="col" id="saved"></div>
</div>
</div> 
{{!-- the div above ends the whole container --}}